
<!-- about section -->
  {% load static %} 

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Group "One"
              </h2>
            </div>
                      <p>
                        Since our beginnings in 2000, Group "One" has been being tried to create marvelous times for clients which search 
                        different tastes and flavors , restuarnt's name came from our client feedbacks and their eye-splashes,we welcome 
                        you to come and appreciate the lovely , Calm and Modern environment while ordering and serving meals.
                        enjoy your dazzaling dishes and share your comments with us.
                                             
                      </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
