<!-- slider section -->
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% for slider in info.sliders.all %}
          {% if slider.number == 1 %}
        <div class="carousel-item active">
          {% else %}
        <div class="carousel-item ">
          {% endif %}
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h2>
                    {{slider.title}}                  
                  </h2>
                  <p>
                    {{slider.content|safe}} 
                  </p>
                  <div class="btn-box">
                    <a href="{{slider.button_link}}" class="btn1">
                      {{slider.button_text}} 
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="container">
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
        </ol>
      </div>
    </div>

  </section>
  <!-- end slider section -->