{% extends 'base.html' %}
{% block title %}
  Book table
{% endblock %}
{% block content %}
<!-- book section -->  
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Book A Table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="" method="post">
              {% csrf_token %}

              {{form.as_p}}
              <br><br><br>
              <input type="submit" value="Book Now" style="background-color: #ffbe33 ; padding: 10px 55px; -webkit-transition: all 0.3s;
              transition: all 0.3s; display: inline-block; border: none; color: #ffffff; border-radius: 45px;">
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap">

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1618.2675945338397!2d51.42713242579374!3d35.78679251454968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1688899748718!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->
  {% endblock %}
