{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Restaurant Group One  {% endblock %}
{% load static %}
{% block branding %}
<div id="site-name"><a href="{% url 'admin:index' %}">Restaurant Group "One"&nbsp; </a>
    <img src="{% static 'admin/images/o1.png' %}" style="width: 50px;height: auto;" alt="">
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}